<h2>Thong Tin Sinh Vien:</h2>
<form asp-action="Index">
    <label>StudentID:</label>
    <input type = "number" name = "StudentID">
    <br>
    <label>StudentName:</label>
    <input type="text" name="StudentName" placeholder="Enter Your Name">
    <br>
    <label>StudentEmail:</label>
    <input type="email" name="StudentEmail" placeholder="Enter Your Email">
    <br>
    <button type="submit" style = "color: gray;">Save</button>
</form>
<h2>@ViewBag.name</h2>